
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111111;
    color: white;
    height: 100vh;
    overflow: hidden;
}
.container {
    display: flex;
    height: 100%;
}
.sidebar {
    width: 250px;
    padding: 20px;
    border-right: 2px solid #555555;
    background-color: black;
}
.sidebar ul {
    list-style: none;
    padding: 0;

}
.sidebar li {
    margin-bottom: 15px;
    font-size: 1.2em;
}
.sidebar a {
    text-decoration: none;
    color: #cccccc;
    display: block;
    align-items: center;
    transition: color 0.3s;
}
.sidebar a:hover {
    color: white;
}
.main-content {
    flex-grow: 100;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.main-content h1 {
    font-size: 3em;
    font-family: monospace;
}
.list {
    max-width: 800px;
    width: 100%;
}
